.dashboard__toolbar {
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 15px;
}

.dashboard__projects {
  margin: 15px;
}

.project-board__toolbar {
  display: inline-block;
  margin: 15px;
}

.project-board__lanes {
  height: 100%;
  border-top: 1px solid LightGrey;
  margin: 0 15px;
}

.project-board__lane {
  height: 100%;
}

.project-board__lane-content {
  background-color: gainsboro;
  height: 100%;
  padding: 10px 10px;
}

.modal-form {
  margin: 15px;
}

.task-card {
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: white;
  color: black;
  margin: 5px 0;
  height: 140px;
  max-width: 160px;
  padding: 5px;
  position: relative;
}

.task-card:not(.task-card--complete):hover {
  background-color: #c4f0fb;
  border: 1px solid lightskyblue;
}

.task-card--complete {
  background-color: palegreen;
  border: 1px solid mediumseagreen;
}

.task-card__body {
  font-size: 14px;
}

.task-card__desc {
  font-size: 10px;
  color: dimgrey;
  margin-top: 10px;
  overflow: none;
  text-overflow: ellipsis;
}

.task-card--complete > .task-card__desc {
  color: black;
}

.task-card__footer {
  bottom: 0;
  font-size: 20px;
  margin-bottom: 5px;
  position: absolute;
  visibility: hidden;
  width: 100%
}

.task-card:hover > .task-card__footer {
  visibility: visible;
}

.task-card > .option {
  cursor: pointer;
  margin: 0 5px;
}

.header-icon,
.button-icon {
  margin-right: 5px;
}

.inline-icon {
  margin: 0 5px;
}

.inline-icon--completed {
  color: seagreen;
}

.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}
