.dashboard__toolbar {
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 15px;
}

.dashboard__projects {
  margin: 15px;
}

.project-board__toolbar {
  display: inline-block;
  margin: 15px;
}

.project-board__lanes {
  height: 100%;
  border-top: 1px solid LightGrey;
  margin: 0 15px;
}

.project-board__lane {
  height: 100%;
}

.project-board__lane-content {
  background-color: WhiteSmoke;
  height: 100%;
  padding: 10px 10px;
}

.modal-form {
  margin: 15px;
}

.task-card {
  border: 1px solid DimGray;
  border-radius: 5px;
  background-color: GhostWhite;
  margin: 5px 0;
  min-height: 80px;
  max-height: 160px;
  padding: 5px;
  position: relative;
}

.task-card--complete {
  background-color: LightGreen;
}

.task-card > .body {
  font-size: 14px;
}

.task-card > .footer {
  bottom: 0;
  font-size: 20px;
  margin-bottom: 5px;
  position: absolute;
  visibility: hidden;
  width: 100%
}

.task-card:hover > .footer {
  visibility: visible;
}

.task-card > .option {
  cursor: pointer;
  margin: 0 5px;
}

.button-icon {
  margin-right: 5px;
}

.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}
