<div class="project-board">
  <div class="project-board__toolbar">
    <button type="button" class="btn btn-primary" ng-click="onAddTask()">
      <span class="glyphicon glyphicon-plus button-icon"></span>New Task
    </button>
  </div>
  <div class="row project-board__lanes">
    <div class="col-sm-4 project-board__lane" ng-repeat="status in vm.statuses">
      <h4>{{ status.name }}</h4>
      <div class="project-board__lane-content">
        <task vm='task' vmproject='vm' ng-repeat="task in getTasksByStatus(status.name) track by $index"></task>
      </div>
    </div>
  </div>
</div>
