<div ng-class="{ 'task-card': true, 'task-card--complete': completed }">
  <div class="body">
    <span>{{ vm.summary }}</span>
    <span class="glyphicon glyphicon-check" ng-if="completed"></span>
  </div>
  <div class="footer row-flex">
    <!-- TODO: apply Jason's advice of preventing default via CSS -->
    <a class="action" href="javascript:void(0);" ng-click="e.preventDefault(); onBacktrack(vm)">
      <span class="glyphicon glyphicon-chevron-left" ng-if="canBacktrack"></span>
    </a>
    <a class="action" href="javascript:void(0);" ng-click="e.preventDefault(); onDelete(vm)">
      <span class="glyphicon glyphicon-trash" ng-if="canDelete"></span>
    </a>
    <a class="action" href="javascript:void(0);" ng-click="e.preventDefault(); onProgress(vm)">
      <span class="glyphicon glyphicon-chevron-right" ng-if="canProgress"></span>
    </a>
  </div>
</div>
