<div ng-class="{ 'task-card': true, 'task-card--complete': completed }">
  <div class="task-card__body">
    <span class="glyphicon glyphicon-ok inline-icon inline-icon--completed" ng-if="completed"></span>
    <span>{{ vm.summary }}</span>
    <div class="task-card__desc">
      {{ vm.description }}
    </div>
  </div>
  <div class="task-card__footer row-flex">
    <a class="action" href="javascript:void(0);" ng-click="e.preventDefault(); backtrack(vm)">
      <span class="glyphicon glyphicon-chevron-left" ng-if="canBacktrack"></span>
    </a>
    <a class="action" href="javascript:void(0);" ng-click="e.preventDefault(); delete(vm)">
      <span class="glyphicon glyphicon-trash" ng-if="canDelete"></span>
    </a>
    <a class="action" href="javascript:void(0);" ng-click="e.preventDefault(); progress(vm)">
      <span class="glyphicon glyphicon-chevron-right" ng-if="canProgress"></span>
    </a>
  </div>
</div>
