<form ng-submit="addTask()">
    <h3>Add a Task</h3>
    <div class="form-group">
        <label for="summary">Summary</label>
        <input type="summary" class="form-control" id="summary" placeholder="Summary" ng-model="vm.summary">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="5" id="comment" ng-model="vm.description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
